In [147]:
import pandas as pd
import numpy as np
import scipy.stats as stats# import ttest_ind, t
from scipy.stats import t, ttest_ind_from_stats, ttest_ind

In [148]:
# Gaussian Percent Point Function
from scipy.stats import norm
# define probability
p = 0.975
# retrieve value <= probability
value = norm.ppf(p)
print(value)
# confirm with cdf
p = norm.cdf(value)
print(p)

1.959963984540054
0.975

In [149]:
df_users = pd.read_csv('data/df_users.csv')
df_sales = pd.read_csv('data/df_sales.csv')

In [150]:
df_sales.shape

(3877, 3)

In [151]:
df_sales.describe()

            user_id          day        sales
count  3.877000e+03  3877.000000  3877.000000
mean   6.291479e+06    27.263864   453.858138
std    2.355929e+06    16.208913   333.712209
min    1.178709e+06     0.000000    13.000000
25%    4.467299e+06    13.000000   215.000000
50%    6.351670e+06    27.000000   371.000000
75%    8.371962e+06    42.000000   597.000000
max    9.978718e+06    55.000000  2483.000000

In [152]:
df_sales.query("user_id==1178709 and day==43")

      user_id  day  sales
2744  1178709   43    434

In [153]:
df_users.head()

   user_id  gender  age
0  2481878       0   26
1  5939953       1   21
2  6805236       0   23
3  5333820       0   22
4  7187024       0   28

In [154]:
df_sales.head()

   user_id  day  sales
0  4137940   39    276
1  3692244    5     30
2  3527743   32    363
3  6805236   42    274
4  6216002   20    421

In [203]:
df_sales[df_sales['sales'] < np.percentile(df_sales['sales'], 99)]

      user_id  day  sales
6     8747009   52    808
14    5835333   49    358
17    9179024   53     79
21    9894745   54    581
29    2124163   54    462
...       ...  ...    ...
3798  5420929   54    213
3803  3895207   52    371
3808  1178709   53    843
3828  1279104   54    583
3875  3895207   54    471

[459 rows x 3 columns]

In [155]:
#df_sales.groupby(['user_id', 'day'])['sales'].sum().reset_index()

In [156]:
df_sales_cov = df_sales[df_sales['day'].isin(np.arange(42, 49))]
df_sales_cov['day'] += 7

# эксперимент проводился с 49 до 55 день включительно
df_sales = df_sales[df_sales['day'].isin(np.arange(49, 56))]

bins = np.arange(0., 150, 5)
bins[-1] = np.inf
df_users['age_bin'] = pd.cut(df_users.age, bins, right=False, labels=bins[:-1])
df_users['stratum'] = df_users['age_bin'].astype(float) * 100 + df_users['gender']
weights = df_users['stratum'].value_counts(normalize=True)



def calc_strat_mean(df, strat_column, target_name):
    strat_mean = df.groupby(strat_column)[target_name].mean()
    return (strat_mean * weights).sum()


def calc_strat_var(df, strat_column, target_name):
    strat_var = df.groupby(strat_column)[target_name].var()
    return (strat_var * weights).sum()

def ping():
    pass

    
def _check_test(test):
    group_a_one = test['group_a_one']
    group_a_two = test['group_a_two']
    group_b = test['group_b']

    user_a = group_a_one + group_a_two
    user_b = group_b

    sales_a = df_sales[df_sales['user_id'].isin(user_a)]#['sales'].values
    sales_b = df_sales[df_sales['user_id'].isin(user_b)]#['sales'].values

    mu_a = calc_strat_mean(sales_a, 'stratum', 'sales')
    mu_b = calc_strat_mean(sales_b, 'stratum', 'sales')

    var_a = calc_strat_var(sales_a, 'stratum', 'sales')
    var_b = calc_strat_var(sales_b, 'stratum', 'sales')

    delta_mean_strat = mu_b - mu_a
    std_mean_strat = (var_b / len(sales_b) + var_a / len(sales_a)) ** 0.5

    no_effect = delta_mean_strat - 1.96 * std_mean_strat <= 0 <= delta_mean_strat + 1.96 * std_mean_strat

    return not no_effect


ping()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [157]:
df_sales.duplicated(subset=['user_id', 'day']).sum()

140

In [158]:
df_sales

      user_id  day  sales
6     8747009   52    808
14    5835333   49    218
17    9179024   53     79
21    9894745   54    581
29    2124163   54    322
...       ...  ...    ...
3798  5420929   54    213
3803  3895207   52    231
3808  1178709   53    843
3828  1279104   54    443
3875  3895207   54    331

[464 rows x 3 columns]

In [159]:
# df_sales = df_sales.groupby(['user_id', 'day']).agg(sales = ('sales', sum)).reset_index()

In [160]:
# df_sales.duplicated(subset=['user_id', 'day']).sum()

In [161]:
# df_users.user_id.unique()

In [180]:
half_size = 10

remaining_users = set(df_sales.user_id.unique())

group_a_one = np.random.choice(list(remaining_users), replace=False, size=half_size)
remaining_users = remaining_users - set(group_a_one)

group_a_two = np.random.choice(list(remaining_users), replace=False, size=half_size)
remaining_users = remaining_users - set(group_a_two)

group_b = np.random.choice(list(remaining_users), replace=False, size=half_size*2)
remaining_users = remaining_users - set(group_b)

test = {'group_a_one': list(group_a_one), 'group_a_two': list(group_a_two), 'group_b': list(group_b)}

In [196]:
group_a_one = test['group_a_one']
group_a_two = test['group_a_two']
group_b = test['group_b']

user_a = group_a_one + group_a_two
user_b = group_b

print(df_sales[df_sales['user_id'].isin(user_b)]['sales'].mean())
df_sales.loc[df_sales['user_id'].isin(user_b), 'sales'] += 20
print(df_sales[df_sales['user_id'].isin(user_b)]['sales'].mean())
print(df_sales[df_sales['user_id'].isin(user_a)]['sales'].mean())

555.6756756756756
575.6756756756756
468.0495867768595

In [197]:
def calculate_theta(y_control, y_pilot, y_control_cov, y_pilot_cov) -> float:
    y = np.hstack([y_control, y_pilot])
    y_cov = np.hstack([y_control_cov, y_pilot_cov])
    covariance = np.cov(y_cov, y)[0, 1]
    variance = y_cov.var()
    theta = covariance / variance
    return theta

def get_sub_df_with_cov(users):
    sub_df_a = df_sales[df_sales['user_id'].isin(users)]
    sub_df_a = sub_df_a.groupby(['user_id', 'day'])['sales'].sum().reset_index()
    sub_df_a_cov = df_sales_cov[df_sales_cov['user_id'].isin(users)]
    sub_df_a_cov = sub_df_a_cov.groupby(['user_id', 'day'])['sales'].sum().reset_index()
    sub_df_a = sub_df_a.merge(sub_df_a_cov, on=['user_id', 'day'], how='left', suffixes=('', '_cov'))
    sub_df_a.fillna(0., inplace=True)
    sub_df_a = sub_df_a.merge(df_users, on='user_id', how='left')
    return sub_df_a

user_a = group_a_one + group_a_two
user_b = group_b

sub_df_a = get_sub_df_with_cov(user_a)
sub_df_b = get_sub_df_with_cov(user_b)

sales_a = sub_df_a['sales'].values
sales_b = sub_df_b['sales'].values

sales_a_cov = sub_df_a['sales_cov'].values
sales_b_cov = sub_df_b['sales_cov'].values

theta = calculate_theta(sales_a, sales_b, sales_a_cov, sales_b_cov)

sub_df_a['sales'] = sales_a - theta * sales_a_cov
sub_df_b['sales'] = sales_b - theta * sales_b_cov


mu_a = calc_strat_mean(sub_df_a, 'stratum', 'sales')
mu_b = calc_strat_mean(sub_df_b, 'stratum', 'sales')

var_a = calc_strat_var(sub_df_a, 'stratum', 'sales')
var_b = calc_strat_var(sub_df_b, 'stratum', 'sales')

n_a = len(sales_a)
n_b = len(sales_b)

_, p_val = ttest_ind_from_stats(mean1=mu_a, std1=np.sqrt(var_a), nobs1=n_a,
                                mean2=mu_b, std2=np.sqrt(var_b), nobs2=n_b,
                                equal_var=True, alternative="two-sided")
p_val < 0.05

True

In [179]:
sales_a_cuped.shape

(87,)

In [67]:
sales_b_cuped.shape

(70,)

In [42]:
sales_a_cov

array([ 434,  538,  504,  563,  348,  531,  319,  420,  477,  569,  288,
        509,  276,  462,  552,  279,  792, 1069, 1085,  787,  339,  664,
        891, 1023,  684,  866,  779,  602,  823,  895,  914,  893],
      dtype=int64)

In [9]:
sales_a = df_sales[
    df_sales['user_id'].isin(user_a)
][
    'sales'
].values

sales_b = df_sales[
    df_sales['user_id'].isin(user_b)
][
    'sales'
].values

In [11]:
# def manual_t(mu_a=None, mu_b=None, 
#              n_a=None, n_b=None, 
#              var_a=None, var_b=None, 
#              sales_a=None, sales_b=None):
#     if sales_a is not None and sales_b is not None:
#         mu_a = sales_a.mean()
#         mu_b = sales_b.mean()

#         n_a = len(sales_a)
#         n_b = len(sales_b)

#         var_a = sales_a.var(ddof=1)
#         var_b = sales_b.var(ddof=1)

#     df = n_a + n_b - 2.0
#     svar = ((n_a - 1) * var_a + (n_b - 1) * var_b) / df
#     denom = np.sqrt(svar * (1.0 / n_a + 1.0 / n_b))

#     d = mu_a - mu_b
#     with np.errstate(divide='ignore', invalid='ignore'):
#         t_val = np.divide(d, denom)

#     prob = 2 * t.sf(np.abs(t_val), df)
#     if t_val.ndim == 0:
#         t_val = t_val[()]

#     return t_val, prob

def manual_t(mu_a=None, mu_b=None,
             n_a=None, n_b=None,
             var_a=None, var_b=None,
             sales_a=None, sales_b=None):
    if sales_a is not None and sales_b is not None:
        print('here')
        mu_a = sales_a.mean()
        mu_b = sales_b.mean()

        n_a = len(sales_a)
        n_b = len(sales_b)

        var_a = sales_a.var(ddof=1)
        var_b = sales_b.var(ddof=1)

    df = n_a + n_b - 2.0
    svar = ((n_a - 1) * var_a + (n_b - 1) * var_b) / df
    denom = np.sqrt(svar * (1.0 / n_a + 1.0 / n_b))

    d = mu_a - mu_b
    with np.errstate(divide='ignore', invalid='ignore'):
        t_val = np.divide(d, denom)

    prob = 2 * t.sf(np.abs(t_val), df)
    if t_val.ndim == 0:
        t_val = t_val[()]

    return t_val, prob

In [12]:
mu_a = sales_a.mean()
mu_b = sales_b.mean()

n_a = len(sales_a)
n_b = len(sales_b)

var_a = sales_a.var(ddof=1)
var_b = sales_b.var(ddof=1)

manual_t(mu_a, mu_b, n_a, n_b, var_a, var_b)

(-1.1409814972976267, 0.25405342213368404)

In [14]:
ttest_ind_from_stats(mean1=mu_a, std1=np.sqrt(var_a), nobs1=n_a, 
                     mean2=mu_b, std2=np.sqrt(var_b), nobs2=n_b,
                     equal_var=True, alternative="two-sided")

Ttest_indResult(statistic=-1.1409814972976267, pvalue=0.25405342213368404)

In [28]:
import scipy
scipy.__version__

'1.4.1'

In [19]:
manual_t(sales_a=sales_a, sales_b=sales_b)[1] < 0.05

False

In [12]:
stats.ttest_ind(sales_a, sales_b)

Ttest_indResult(statistic=-0.923323744141151, pvalue=0.3559841025604584)

In [13]:
df_sales['sales'].mean()

455.65334021150375

In [14]:
df_sales[df_sales['user_id'].isin(group_b)]['sales'] + 4

2       377
3       288
9       216
10      584
14      232
       ...
3867    246
3870    812
3871    337
3874    350
3876    233
Name: sales, Length: 696, dtype: int64

In [101]:
_check_test(test)

True

In [16]:
qwerty

NameError: name 'qwerty' is not defined

In [ ]:
all_users_sales = df_sales.user_id.unique() # ).union(set(df_users.user_id.unique()))
all_users_sales

In [ ]:
min_day = df_sales['day'].min()
max_day = df_sales['day'].max()

full_days_horizon = np.arange(min_day, max_day+1)
full_days_horizon

In [ ]:
full_sales = pd.DataFrame({'user_id': np.repeat(all_users_sales, len(full_days_horizon)),
                           'day': np.tile(full_days_horizon, len(all_users_sales))})
full_sales = full_sales.merge(df_sales, on=['user_id', 'day'], how='left').fillna(0.)
full_sales

# Cuped

In [ ]:
df_sales_covariate = full_sales[full_sales['day'].isin(np.arange(42, 49))].reset_index(drop=True)
df_sales_pilot = full_sales[full_sales['day'].isin(np.arange(49, 56))].reset_index(drop=True)

In [ ]:
df_sales_pilot.head(10)

In [ ]:
df_sales_covariate.head(10)

In [ ]:
def calculate_theta(y, y_covariate) -> float:
    covariance = np.cov(y_covariate, y)[0, 1]
    variance = y_covariate.var()
    theta = covariance / variance
    return theta

theta = calculate_theta(df_sales_pilot.sales, df_sales_covariate.sales)
theta

In [ ]:
y_cuped = df_sales_pilot.sales - theta * df_sales_covariate.sales
# df_cuped = pd.DataFrame({'user_id': df_sales_pilot.user_id,
#                          'sales': y_cuped})
# df_cuped

df_sales_pilot.sales = y_cuped
df_sales_pilot

In [ ]:
y_cuped

# Stratification

In [ ]:
# gender only
# binned age only
# binned age + gender
# different bin size

In [ ]:
group_a_one = test['group_a_one']
group_a_two = test['group_a_two']

user_a = group_a_one + group_a_two
user_b = test['group_b']

In [ ]:
# on historical data
weights = df_users.gender.value_counts(normalize=True)
weights

In [ ]:
users_sales_df = df_sales.merge(df_users, on='user_id', how='left')
users_sales_df

In [ ]:
sales_a = users_sales_df[users_sales_df['user_id'].isin(user_a)]#['sales'].values
sales_b = users_sales_df[users_sales_df['user_id'].isin(user_b)]#['sales'].values
sales_a

In [ ]:
sales_b

In [ ]:
(sales_b.groupby('gender')['sales'].mean() * weights).sum()

In [ ]:
sales_b

In [ ]:
def calc_strat_mean(df, strat_column, target_name, weights):
    strat_mean = df.groupby(strat_column)[target_name].mean()
    return (strat_mean * weights).sum()

calc_strat_mean(sales_b, 'gender', 'sales', weights)

In [ ]:
not (1 < -2 < 7)

In [ ]:
def calc_strat_var(df: pd.DataFrame, strat_column: str, target_name: str, weights: dict):
    """Считаем стратифицированную дисперсию.

    df - датафрейм с целевой метрикой и данными для стратификации
    strat_column - названия столбца по которому проводить стратификацию
    target_name - название столбца с целевой переменной
    weights - словарь - {название страты: вес страты}
    
    return: float, var_strat
    """
    strat_var = df.groupby(strat_column)[target_name].var()
    return (strat_var * pd.Series(weights)).sum()

In [ ]:
ttest_ind(sales_a, sales_b)

In [ ]:
mu_a = sales_a.mean()
mu_b = sales_b.mean()

var_a = sales_a.var(ddof=1)
var_b = sales_b.var(ddof=1)

var_a_norm = var_a / len(sales_a)
var_b_norm = var_b / len(sales_b)

t_stat = (mu_b - mu_a) / np.sqrt(var_a_norm + var_b_norm)
t_stat

In [ ]:
(mu_b - mu_a) / np.sqrt(full_sales['sales'].var())

In [ ]:
dof_num = (var_a_norm + var_b_norm) ** 2
dof_den = var_a_norm ** 2 / (len(sales_a) - 1) + var_b_norm ** 2 / (len(sales_b) - 1)
dof = dof_num / dof_den
dof = len(sales_a) + len(sales_b) - 2
p = (1 - t.cdf(t_stat,df=dof)) * 2
p

In [ ]:
dof

In [ ]:
t.cdf(t_stat,df=dof)

In [ ]:
result = None
for strat_column in ['age', 'gender']:
    if result is None:
        result = df_users[strat_column].astype(str)
    else:
        result = result + '_' + df_users[strat_column].astype(str)
        
df_users['strat_key'] = result

weights = df_users.strat_key.value_counts(normalize=True).to_dict()
weights

In [ ]:
bins = np.arange(0, 150, 5)
df_users['age_bin'] = pd.cut(df_users.age, bins, right=True, labels=bins[:-1])

In [ ]:
df_users.age

In [ ]:
result

In [ ]:
df_users['age'] * 100 + df_users['gender']