In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from tqdm.notebook import tqdm

import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm


titlesize = 24
labelsize = 22
legendsize = 22
xticksize = 18
yticksize = xticksize

plt.rcParams['legend.markerscale'] = 1.5     # the relative size of legend markers vs. original
plt.rcParams['legend.handletextpad'] = 0.5
plt.rcParams['legend.labelspacing'] = 0.4    # the vertical space between the legend entries in fraction of fontsize
plt.rcParams['legend.borderpad'] = 0.5       # border whitespace in fontsize units
plt.rcParams['font.size'] = 12
plt.rcParams['font.serif'] = 'Times New Roman'
plt.rcParams['axes.labelsize'] = labelsize
plt.rcParams['axes.titlesize'] = titlesize
plt.rcParams['figure.figsize'] = (10, 8)

plt.rc('xtick', labelsize=xticksize)
plt.rc('ytick', labelsize=yticksize)
plt.rc('legend', fontsize=legendsize)

In [2]:
def get_df_users(num_users=10000, prob_gender=0.6, min_age=20, max_age=60):

    user_id = np.random.default_rng().choice(89999, size=num_users, replace=False) + 10000
    gender = stats.bernoulli(p=prob_gender).rvs(size=num_users)
    age = np.random.uniform(min_age, max_age, size=num_users)

    df_users = pd.DataFrame({'user_id': user_id, 'gender': gender, 'age': age})
    df_users = df_users.astype(int)
    return df_users

In [3]:
def get_test(df_with_user_id, half_size):
    remaining_users = set(df_with_user_id.user_id.unique())

    group_a_one = np.random.choice(list(remaining_users), replace=False, size=half_size)
    remaining_users = remaining_users - set(group_a_one)

    group_a_two = np.random.choice(list(remaining_users), replace=False, size=half_size)
    remaining_users = remaining_users - set(group_a_two)

    group_b = np.random.choice(list(remaining_users), replace=False, size=half_size*2)
    remaining_users = remaining_users - set(group_b)

    test = {'group_a_one': list(group_a_one), 'group_a_two': list(group_a_two), 'group_b': list(group_b)}
    
    return test

In [4]:
def get_df_sales(user_id, num_sales, mu, std, days_range=(0, 56)):
    user_id_sales = np.random.choice(user_id, replace=True, size=num_sales)
    day = np.random.choice(np.arange(*days_range), replace=True, size=num_sales)
    sales = np.abs(np.random.normal(mu, std, size=num_sales).round(2))
    
    return pd.DataFrame({'user_id': user_id_sales, 'day': day, 'sales': sales})

# END

In [5]:
def plot_pvalue_ecdf(pvalues, title=None):
    fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 4))

    if title:
        plt.suptitle(title)

    sns.histplot(pvalues, ax=ax1, bins=20, stat='density')
    ax1.plot([0,1],[1,1], 'k--')
    ax1.set_xlabel('p-value')
    ax1.set_xticks(np.arange(0,1.1, 0.2), minor=False)
    ax1.set_xlim((0,1))

    sns.ecdfplot(pvalues, ax=ax2)
    ax2.set_ylabel('Probability')
    ax2.set_xlabel('p-value')
    ax2.grid()
    ax2.set_xticks(np.arange(0,1.1, 0.2), minor=False)
    ax2.set_yticks(np.arange(0,1.1, 0.2), minor=False)
    ax2.set_xlim((0,1))

In [6]:
def _check_test(test, df_sales, df_users):
    group_a_one = test['group_a_one']
    group_a_two = test['group_a_two']
    group_b = test['group_b']
    
    p_val_aa, point_diff_aa = check_two_groups(df_sales, df_users, group_a_one, group_a_two)

    user_a = group_a_one + group_a_two
    user_b = group_b

    p_val_ab, point_diff_ab = check_two_groups(df_sales, df_users, user_a, user_b)

    return p_val_aa, point_diff_aa, p_val_ab, point_diff_ab

#_check_test(test)

In [7]:
def run_experiments(num_experiments=1000, half_size=1000,
                    mu_a1=500, mu_a2=500,std_a1=300, std_a2=300,
                    mu_b=515, std_b=300, shift_b_mean=0,
                    df_users_params=None):

    p_vals_aa = []
    p_vals_ab = []
    point_diffs_aa = []
    point_diffs_ab = []

    for _ in tqdm(range(num_experiments)):
        df_users = get_df_users() if df_users_params is None else get_df_users(**df_users_params)

        test = get_test(df_users, half_size)

        df_sales_a1 = get_df_sales(test['group_a_one'], num_sales=half_size, mu=mu_a1, std=std_a1)
        df_sales_a2 = get_df_sales(test['group_a_two'], num_sales=half_size, mu=mu_a2, std=std_a2)
        df_sales_b = get_df_sales(test['group_b'], num_sales=2*half_size, mu=mu_b, std=std_b)
        df_sales_b['sales'] += shift_b_mean

        df_sales = pd.concat((df_sales_a1, df_sales_a2, df_sales_b), axis=0, ignore_index=True)
        
        df_users, df_sales = preprocess_df_users_sales(df_users, df_sales)

        p_val_aa, point_diff_aa, p_val_ab, point_diff_ab = _check_test(test, df_sales, df_users)
        p_vals_aa.append(p_val_aa)
        p_vals_ab.append(p_val_ab)
        point_diffs_aa.append(point_diff_aa)
        point_diffs_ab.append(point_diff_ab)
        
    return p_vals_aa, point_diffs_aa, p_vals_ab, point_diffs_ab

# EXPERIMETS (START)

In [8]:
def _calc_strat_mean(df, strat_column, target_name, weights):
    strat_mean = df.groupby(strat_column)[target_name].mean()
    return (strat_mean * weights).sum()


def _calc_strat_var(df, strat_column, target_name, weights):
    strat_var = df.groupby(strat_column)[target_name].var()
    return (strat_var * weights).sum()


def check_two_groups(df_sales, df_users, user_a, user_b):
    weights = df_users['stratum'].value_counts(normalize=True)
    
    sales_a = df_sales[df_sales['user_id'].isin(user_a)]
    sales_b = df_sales[df_sales['user_id'].isin(user_b)]
    
    sales_a = sales_a[sales_a['sales'] < np.percentile(sales_a['sales'], 99)]
    sales_b = sales_b[sales_b['sales'] < np.percentile(sales_b['sales'], 99)]
    
    mu_a = _calc_strat_mean(sales_a, 'stratum', 'sales', weights)
    mu_b = _calc_strat_mean(sales_b, 'stratum', 'sales', weights)

    n_a = len(sales_a)
    n_b = len(sales_b)
    
    var_a = _calc_strat_var(sales_a, 'stratum', 'sales', weights)
    var_b = _calc_strat_var(sales_b, 'stratum', 'sales', weights)
    
    
    point_diff = sales_b['sales'].mean() - sales_a['sales'].mean()
    return stats.ttest_ind_from_stats(mean1=mu_a, std1=np.sqrt(var_a), nobs1=n_a,
                                    mean2=mu_b, std2=np.sqrt(var_b), nobs2=n_b,
                                    equal_var=True, alternative="two-sided")[1], point_diff

def preprocess_df_users_sales(df_users, df_sales):
    df_sales = df_sales[df_sales['day'].isin(np.arange(49, 56))]
    df_sales = df_sales.groupby(['user_id', 'day']).agg(sales=('sales', sum)).reset_index()
    bins = np.arange(0., 150, 5)
    bins[-1] = np.inf
    df_users['age_bin'] = pd.cut(df_users.age, bins, right=False, labels=bins[:-1])
    df_users['stratum'] = df_users['age_bin'].astype(float) * 100 + df_users['gender']
    
    df_sales = df_sales.merge(df_users, on='user_id', how='left')
    
    return df_users, df_sales

In [9]:
num_experiments=1000
half_size=2000
mu_a1=mu_a2=500 
std_a1=std_a2=300
mu_b=mu_a1
std_b=300
shift_b_mean=15

df_users = get_df_users()

test = get_test(df_users, half_size)

df_sales_a1 = get_df_sales(test['group_a_one'], num_sales=half_size, mu=mu_a1, std=std_a1)
df_sales_a2 = get_df_sales(test['group_a_two'], num_sales=half_size, mu=mu_a2, std=std_a2)
df_sales_b = get_df_sales(test['group_b'], num_sales=2*half_size, mu=mu_b, std=std_b)
df_sales_b['sales'] += shift_b_mean
df_sales = pd.concat((df_sales_a1, df_sales_a2, df_sales_b), axis=0, ignore_index=True)

In [10]:
df_sales

      user_id  day   sales
0       55828   35  724.36
1       32830   51  212.33
2       54095   53  254.66
3       32897    6  426.10
4       33315   34  403.79
...       ...  ...     ...
7995    16395   48  395.32
7996    99805   26  357.33
7997    46309   34  153.03
7998    48913   46  650.46
7999    83120   50  256.15

[8000 rows x 3 columns]

In [11]:
df_sales_cov = df_sales[df_sales['day'].isin(np.arange(42, 49))]
df_sales_cov['day'] += 7

# эксперимент проводился с 49 до 55 день включительно
df_sales = df_sales[df_sales['day'].isin(np.arange(49, 56))]


def calculate_theta(y_control, y_pilot, y_control_cov, y_pilot_cov) -> float:
    y = np.hstack([y_control, y_pilot])
    y_cov = np.hstack([y_control_cov, y_pilot_cov])
    covariance = np.cov(y_cov, y)[0, 1]
    variance = y_cov.var()
    theta = covariance / variance
    return theta

def linearize(df, kappa=None):
    aggregation = df.groupby(['user_id', 'day']).agg(x=('sales', 'sum'),
                                                     y=('sales', 'count'))
    if kappa is None:
        kappa = aggregation.sum().x / aggregation.sum().y

    linearized = aggregation.x - kappa * aggregation.y
    linearized = linearized.reset_index(name='sales')

    return linearized, kappa

group_a_one = test['group_a_one']
group_a_two = test['group_a_two']
group_b = test['group_b']

user_a = group_a_one + group_a_two
user_b = group_b


sales_a = df_sales[df_sales['user_id'].isin(user_a)]
sales_b = df_sales[df_sales['user_id'].isin(user_b)]

sales_a, kappa = linearize(sales_a)
sales_b, _ = linearize(sales_b, kappa)


sales_a_cov = df_sales_cov[df_sales_cov['user_id'].isin(user_a)]
sales_b_cov = df_sales_cov[df_sales_cov['user_id'].isin(user_b)]

sales_a_cov, kappa = linearize(sales_a_cov)
sales_b_cov, _ = linearize(sales_b_cov, kappa)


sales_a = sales_a.merge(sales_a_cov, on=['user_id', 'day'], how='left', suffixes=('', '_cov'))
sales_a.fillna(0., inplace=True)
sales_b = sales_b.merge(sales_b_cov, on=['user_id', 'day'], how='left', suffixes=('', '_cov'))
sales_b.fillna(0., inplace=True)

theta = calculate_theta(y_control=sales_a['sales'], y_pilot=sales_b['sales'],
                        y_control_cov=sales_a['sales_cov'], y_pilot_cov=sales_b['sales_cov'])


sales_a_cuped = sales_a['sales'] - theta * sales_a['sales_cov']
sales_b_cuped = sales_b['sales'] - theta * sales_b['sales_cov']

stats.ttest_ind(sales_a_cuped, sales_b_cuped)[1] < 0.05

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\victor\AppData\Roaming\Python\Python37\site-packages\scipy\stats\_distn_infrastructure.py:2007: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: RuntimeWarning: invalid value encountered in less

array([False, False, False, False])

In [14]:
sales_a['sales']

     user_id  day       sales  sales_cov
0      10658   53  -87.311477        0.0
1      10734   53  -91.781477        0.0
2      10986   55  542.538523        0.0
3      11082   52  173.318523        0.0
4      11541   51  586.948523        0.0
..       ...  ...         ...        ...
491    98931   52  548.268523        0.0
492    98979   49  -49.191477        0.0
493    99551   50 -295.351477        0.0
494    99585   52  331.368523        0.0
495    99721   55 -145.631477        0.0

[496 rows x 4 columns]

In [12]:
qwerty

NameError: name 'qwerty' is not defined

In [ ]:
df_sales_cov

In [ ]:
group_a_one = test['group_a_one']
group_a_two = test['group_a_two']
group_b = test['group_b']

user_a = group_a_one + group_a_two
user_b = group_b


sales_a = df_sales[df_sales['user_id'].isin(user_a)]
sales_b = df_sales[df_sales['user_id'].isin(user_b)]

sales_a, kappa = linearize(sales_a)
sales_b, _ = linearize(sales_b, kappa)

In [ ]:
sales_a

In [ ]:
sales_a_cov = df_sales_cov[df_sales_cov['user_id'].isin(user_a)]
sales_b_cov = df_sales_cov[df_sales_cov['user_id'].isin(user_b)]

In [ ]:
df_sales_cov

In [ ]:
sales_b_cov

In [ ]:
sales_a_cov, kappa = linearize(sales_a_cov)
sales_b_cov, _ = linearize(sales_b_cov, kappa)

In [ ]:
sales_a = sales_a.merge(sales_a_cov, on=['user_id', 'day'], how='left', suffixes=('', '_cov'))
sales_a.fillna(0., inplace=True)
sales_b = sales_b.merge(sales_b_cov, on=['user_id', 'day'], how='left', suffixes=('', '_cov'))
sales_b.fillna(0., inplace=True)

In [ ]:
theta = calculate_theta(y_control=sales_a['sales'], y_pilot=sales_b['sales'],
                        y_control_cov=sales_a['sales_cov'], y_pilot_cov=sales_b['sales_cov'])

In [ ]:
sales_a_cuped = sales_a['sales'] - theta * sales_a['sales_cov']
sales_b_cuped = sales_b['sales'] - theta * sales_b['sales_cov']

In [ ]:
sales_a_cuped

In [ ]:
stats.ttest_ind(sales_a_cuped, sales_b_cuped)[1] < 0.05

In [ ]:
qwerty

In [ ]:
def check_linearization(a, b):
    """Проверка гипотезы с помощью линеаризации.
    
    a: List[np.array], список множеств длин сессий пользователей контрольной группы
    b: List[np.array], список множеств длин сессий пользователей пилотной группы
    
    return: pvalue и точечную оценку.
    """
    a_x = np.array([np.sum(row) for row in a])
    a_y = np.array([len(row) for row in a])
    b_x = np.array([np.sum(row) for row in b])
    b_y = np.array([len(row) for row in b])
    coef = np.sum(a_x) / np.sum(a_y)
    a_lin = a_x - coef * a_y
    b_lin = b_x - coef * b_y
    _, pvalue = stats.ttest_ind(a_lin, b_lin)
    delta = np.mean(b_lin) - np.mean(a_lin)
    return pvalue, delta

# EXPERIMENTS (END)

In [ ]:
p_vals_aa, point_diffs_aa, p_vals_ab, point_diffs_ab = run_experiments(num_experiments=num_experiments, 
                                                                       half_size=half_size,
                                                                       mu_a1=mu_a1, 
                                                                       mu_a2=mu_a2,
                                                                       std_a1=std_a1, 
                                                                       std_a2=std_a2,
                                                                       mu_b=mu_b, 
                                                                       std_b=std_b,
                                                                       shift_b_mean=shift_b_mean)

plot_pvalue_ecdf(p_vals_aa, title='Распределение p-value: AA')
plot_pvalue_ecdf(p_vals_ab, title='Распределение p-value: AB')

significant_aa = np.array(p_vals_aa) < 0.05
significant_ab = np.array(p_vals_ab) < 0.05

significant_ab_but_not_aa = ((significant_ab).astype(int) - (significant_aa).astype(int)) == 1

print(f'# Significant AB: {significant_ab.sum()}/{num_experiments}')
print(f'# Significant AB (AA-adjusted): {significant_ab_but_not_aa.sum()}/{num_experiments}')

true_delta = mu_b + shift_b_mean - mu_a1
actual_effect_present = (np.array(point_diffs_ab) >= true_delta)

print(f'# Point diff AB >= true_diff: {actual_effect_present.sum()}')
print(f'# Point diff AA >= true_diff: {(np.array(point_diffs_aa) >= true_delta).sum()}')

print(f'# TP: {(actual_effect_present & significant_ab).sum()}')
print(f'# TP (AA-adjusted): {(actual_effect_present & significant_ab_but_not_aa).sum()}')

print(f'# FP: {(significant_ab & (~actual_effect_present)).sum()}')
print(f'# FP (AA-adjusted): {(significant_ab_but_not_aa & (~actual_effect_present)).sum()}')