In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, t

In [2]:
df_users = pd.read_csv('data/df_users.csv')
df_sales = pd.read_csv('data/df_sales.csv')

In [3]:
df_users.head()

   user_id  gender  age
0  2481878       0   26
1  5939953       1   21
2  6805236       0   23
3  5333820       0   22
4  7187024       0   28

In [4]:
df_sales.head()

   user_id  day  sales
0  4137940   39    276
1  3692244    5     30
2  3527743   32    363
3  6805236   42    274
4  6216002   20    421

In [5]:
# эксперимент проводился с 49 до 55 день включительно
df_sales = df_sales[
    df_sales['day'].isin(np.arange(49, 56))
]


bins = np.arange(0., 150, 5)
bins[-1] = np.inf
df_users['age_bin'] = pd.cut(df_users.age, bins, right=False, labels=bins[:-1])
df_users['stratum'] = df_users['age_bin'].astype(float) * 100 + df_users['gender']
weights = df_users['stratum'].value_counts(normalize=True)



def calc_strat_mean(df, strat_column, target_name):
    strat_mean = df.groupby(strat_column)[target_name].mean()
    return (strat_mean * weights).sum()


def calc_strat_var(df, strat_column, target_name):
    strat_var = df.groupby(strat_column)[target_name].var()
    return (strat_var * weights).sum()

def ping():
    global df_sales
    df_sales = df_sales.merge(df_users, on='user_id', how='left')

    
def _check_test(test):
    group_a_one = test['group_a_one']
    group_a_two = test['group_a_two']
    group_b = test['group_b']

    user_a = group_a_one + group_a_two
    user_b = group_b

    sales_a = df_sales[df_sales['user_id'].isin(user_a)]#['sales'].values
    sales_b = df_sales[df_sales['user_id'].isin(user_b)]#['sales'].values

    mu_a = calc_strat_mean(sales_a, 'stratum', 'sales')
    mu_b = calc_strat_mean(sales_b, 'stratum', 'sales')

    var_a = calc_strat_var(sales_a, 'stratum', 'sales')
    var_b = calc_strat_var(sales_b, 'stratum', 'sales')

    delta_mean_strat = mu_b - mu_a
    std_mean_strat = (var_b / len(sales_b) + var_a / len(sales_a)) ** 0.5

    no_effect = delta_mean_strat - 1.96 * std_mean_strat <= 0 <= delta_mean_strat + 1.96 * std_mean_strat

    return not no_effect


ping()

In [6]:
df_sales.duplicated(subset=['user_id', 'day']).sum()

140

In [7]:
# df_sales = df_sales.groupby(['user_id', 'day']).agg(sales = ('sales', sum)).reset_index()

In [8]:
# df_sales.duplicated(subset=['user_id', 'day']).sum()

In [9]:
# df_users.user_id.unique()

In [10]:
half_size = 10

remaining_users = set(df_sales.user_id.unique())

group_a_one = np.random.choice(list(remaining_users), replace=False, size=half_size)
remaining_users = remaining_users - set(group_a_one)

group_a_two = np.random.choice(list(remaining_users), replace=False, size=half_size)
remaining_users = remaining_users - set(group_a_two)

group_b = np.random.choice(list(remaining_users), replace=False, size=half_size*2)
remaining_users = remaining_users - set(group_b)

In [11]:
test = {'group_a_one': list(group_a_one), 'group_a_two': list(group_a_two), 'group_b': list(group_b)}

In [12]:
group_a_one = test['group_a_one']
group_a_two = test['group_a_two']
group_b = test['group_b']
df_sales[df_sales['user_id'].isin(group_b)]['sales'] = df_sales[df_sales['user_id'].isin(group_b)]['sales'] + 10
print(df_sales[df_sales['user_id'].isin(group_b)]['sales'].mean())
print(df_sales[df_sales['user_id'].isin(group_a_one)]['sales'].mean())

484.2450980392157
530.9230769230769

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [13]:
df_sales['sales'].mean()

452.9073275862069

In [14]:
df_sales[df_sales['user_id'].isin(group_b)]['sales'] + 4

2       83
3      585
6      409
11     622
20     675
      ...
435    909
441    531
442    820
448    327
455    990
Name: sales, Length: 102, dtype: int64

In [15]:
_check_test(test)

False

In [16]:
qwerty

NameError: name 'qwerty' is not defined

In [ ]:
all_users_sales = df_sales.user_id.unique() # ).union(set(df_users.user_id.unique()))
all_users_sales

In [ ]:
min_day = df_sales['day'].min()
max_day = df_sales['day'].max()

full_days_horizon = np.arange(min_day, max_day+1)
full_days_horizon

In [ ]:
full_sales = pd.DataFrame({'user_id': np.repeat(all_users_sales, len(full_days_horizon)),
                           'day': np.tile(full_days_horizon, len(all_users_sales))})
full_sales = full_sales.merge(df_sales, on=['user_id', 'day'], how='left').fillna(0.)
full_sales

# Cuped

In [ ]:
df_sales_covariate = full_sales[full_sales['day'].isin(np.arange(42, 49))].reset_index(drop=True)
df_sales_pilot = full_sales[full_sales['day'].isin(np.arange(49, 56))].reset_index(drop=True)

In [ ]:
df_sales_pilot.head(10)

In [ ]:
df_sales_covariate.head(10)

In [ ]:
def calculate_theta(y, y_covariate) -> float:
    covariance = np.cov(y_covariate, y)[0, 1]
    variance = y_covariate.var()
    theta = covariance / variance
    return theta

theta = calculate_theta(df_sales_pilot.sales, df_sales_covariate.sales)
theta

In [ ]:
y_cuped = df_sales_pilot.sales - theta * df_sales_covariate.sales
# df_cuped = pd.DataFrame({'user_id': df_sales_pilot.user_id,
#                          'sales': y_cuped})
# df_cuped

df_sales_pilot.sales = y_cuped
df_sales_pilot

In [ ]:
y_cuped

# Stratification

In [ ]:
# gender only
# binned age only
# binned age + gender
# different bin size

In [ ]:
group_a_one = test['group_a_one']
group_a_two = test['group_a_two']

user_a = group_a_one + group_a_two
user_b = test['group_b']

In [ ]:
# on historical data
weights = df_users.gender.value_counts(normalize=True)
weights

In [ ]:
users_sales_df = df_sales.merge(df_users, on='user_id', how='left')
users_sales_df

In [ ]:
sales_a = users_sales_df[users_sales_df['user_id'].isin(user_a)]#['sales'].values
sales_b = users_sales_df[users_sales_df['user_id'].isin(user_b)]#['sales'].values
sales_a

In [ ]:
sales_b

In [ ]:
(sales_b.groupby('gender')['sales'].mean() * weights).sum()

In [ ]:
sales_b

In [ ]:
def calc_strat_mean(df, strat_column, target_name, weights):
    strat_mean = df.groupby(strat_column)[target_name].mean()
    return (strat_mean * weights).sum()

calc_strat_mean(sales_b, 'gender', 'sales', weights)

In [ ]:
not (1 < -2 < 7)

In [ ]:
def calc_strat_var(df: pd.DataFrame, strat_column: str, target_name: str, weights: dict):
    """Считаем стратифицированную дисперсию.

    df - датафрейм с целевой метрикой и данными для стратификации
    strat_column - названия столбца по которому проводить стратификацию
    target_name - название столбца с целевой переменной
    weights - словарь - {название страты: вес страты}
    
    return: float, var_strat
    """
    strat_var = df.groupby(strat_column)[target_name].var()
    return (strat_var * pd.Series(weights)).sum()

In [ ]:
ttest_ind(sales_a, sales_b)

In [ ]:
mu_a = sales_a.mean()
mu_b = sales_b.mean()

var_a = sales_a.var(ddof=1)
var_b = sales_b.var(ddof=1)

var_a_norm = var_a / len(sales_a)
var_b_norm = var_b / len(sales_b)

t_stat = (mu_b - mu_a) / np.sqrt(var_a_norm + var_b_norm)
t_stat

In [ ]:
(mu_b - mu_a) / np.sqrt(full_sales['sales'].var())

In [ ]:
dof_num = (var_a_norm + var_b_norm) ** 2
dof_den = var_a_norm ** 2 / (len(sales_a) - 1) + var_b_norm ** 2 / (len(sales_b) - 1)
dof = dof_num / dof_den
dof = len(sales_a) + len(sales_b) - 2
p = (1 - t.cdf(t_stat,df=dof)) * 2
p

In [ ]:
dof

In [ ]:
t.cdf(t_stat,df=dof)

In [ ]:
result = None
for strat_column in ['age', 'gender']:
    if result is None:
        result = df_users[strat_column].astype(str)
    else:
        result = result + '_' + df_users[strat_column].astype(str)
        
df_users['strat_key'] = result

weights = df_users.strat_key.value_counts(normalize=True).to_dict()
weights

In [ ]:
bins = np.arange(0, 150, 5)
df_users['age_bin'] = pd.cut(df_users.age, bins, right=True, labels=bins[:-1])

In [ ]:
df_users.age

In [ ]:
result

In [ ]:
df_users['age'] * 100 + df_users['gender']