In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, t

In [2]:
df_users = pd.read_csv('data/df_users.csv')
df_sales = pd.read_csv('data/df_sales.csv')

In [3]:
df_users.head()

   user_id  gender  age
0  2481878       0   26
1  5939953       1   21
2  6805236       0   23
3  5333820       0   22
4  7187024       0   28

In [4]:
df_sales.head()

   user_id  day  sales
0  4137940   39    276
1  3692244    5     30
2  3527743   32    363
3  6805236   42    274
4  6216002   20    421

In [5]:
def ping():
    global df_sales
    df_sales = df_sales.groupby(['user_id', 'day']).agg(sales=('sales', sum)).reset_index()

    min_day = df_sales['day'].min()
    max_day = df_sales['day'].max()
    full_days_horizon = np.arange(min_day, max_day + 1)

    all_users_sales = df_sales.user_id.unique()

    full_sales = pd.DataFrame({'user_id': np.repeat(all_users_sales, len(full_days_horizon)),
                               'day': np.tile(full_days_horizon, len(all_users_sales))})
    full_sales = full_sales.merge(df_sales, on=['user_id', 'day'], how='left').fillna(0.)

    df_sales_covariate = full_sales[full_sales['day'].isin(np.arange(42, 49))].reset_index(drop=True)
    df_sales_pilot = full_sales[full_sales['day'].isin(np.arange(49, 56))].reset_index(drop=True)
    theta = calculate_theta(df_sales_pilot.sales, df_sales_covariate.sales)
    y_cuped = df_sales_pilot.sales - theta * df_sales_covariate.sales

    df_sales_pilot.sales = y_cuped

    # эксперимент проводился с 49 до 55 день включительно
    df_sales = df_sales_pilot
    
ping()

NameError: name 'calculate_theta' is not defined

In [6]:
df_sales.duplicated(subset=['user_id', 'day']).sum()

0

In [7]:
df_sales = df_sales.groupby(['user_id', 'day']).agg(sales = ('sales', sum)).reset_index()

In [8]:
df_sales.duplicated(subset=['user_id', 'day']).sum()

0

In [9]:
df_users.user_id.unique()

array([2481878, 5939953, 6805236, 5333820, 7187024, 9150021, 3499507,
       9539622, 9161611, 4817623, 9464290, 1874213, 3585159, 7127106,
       2295928, 2597063, 6351670, 7455740, 8522692, 7337419, 8837339,
       2834344, 7541214, 8797835, 4467299, 8281354, 6216002, 1779850,
       6804745, 5617807, 7961790, 7708672, 7122669, 5934212, 8600030,
       2757614, 8903496, 8473226, 8941305, 7102072, 8519079, 6141258,
       8064815, 4137940, 9661316, 2904838, 8199257, 4525597, 8951556,
       7299960, 9894745, 9649086, 8371962, 3688123, 3916257, 5935138,
       5935134, 7998418, 8150731, 2727476, 5751273, 8249566, 9802752,
       6744044, 8970636, 8747009, 1895060, 8767236, 4038392, 4214314,
       9179024, 9870718, 5410401, 1178709, 7380508, 5472676, 7726900,
       5420929, 7808348, 6514970, 5319431, 8844393, 8230943, 6375026,
       3527743, 2124163, 4667765, 1780374, 6277496, 7806764, 5877338,
       3692244, 1279104, 5835333, 5752384, 5939640, 6906034, 3895207,
       9978718, 8047968], dtype=int64)

In [10]:
half_size = 10

remaining_users = set(df_sales.user_id.unique())

group_a_one = np.random.choice(list(remaining_users), replace=False, size=half_size)
remaining_users = remaining_users - set(group_a_one)

group_a_two = np.random.choice(list(remaining_users), replace=False, size=half_size)
remaining_users = remaining_users - set(group_a_two)

group_b = np.random.choice(list(remaining_users), replace=False, size=half_size*2)
remaining_users = remaining_users - set(group_b)

In [11]:
test = {'group_a_one': list(group_a_one), 'group_a_two': list(group_a_two), 'group_b': list(group_b)}

In [12]:
all_users_sales = df_sales.user_id.unique() # ).union(set(df_users.user_id.unique()))
all_users_sales

array([1178709, 1279104, 1779850, 1780374, 1874213, 1895060, 2124163,
       2295928, 2481878, 2597063, 2727476, 2757614, 2834344, 2904838,
       3499507, 3527743, 3585159, 3688123, 3692244, 3895207, 3916257,
       4038392, 4137940, 4214314, 4467299, 4525597, 4667765, 4817623,
       5319431, 5333820, 5410401, 5420929, 5472676, 5617807, 5751273,
       5752384, 5835333, 5877338, 5934212, 5935134, 5935138, 5939640,
       5939953, 6141258, 6216002, 6277496, 6351670, 6375026, 6514970,
       6744044, 6804745, 6805236, 6906034, 7102072, 7122669, 7127106,
       7187024, 7299960, 7337419, 7380508, 7455740, 7541214, 7708672,
       7726900, 7806764, 7808348, 7961790, 7998418, 8047968, 8064815,
       8150731, 8199257, 8230943, 8249566, 8281354, 8371962, 8473226,
       8519079, 8522692, 8600030, 8747009, 8767236, 8797835, 8837339,
       8844393, 8903496, 8941305, 8951556, 8970636, 9150021, 9161611,
       9179024, 9464290, 9539622, 9649086, 9661316, 9802752, 9870718,
       9894745, 9978718], dtype=int64)

In [13]:
min_day = df_sales['day'].min()
max_day = df_sales['day'].max()

full_days_horizon = np.arange(min_day, max_day+1)
full_days_horizon

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55])

In [14]:
full_sales = pd.DataFrame({'user_id': np.repeat(all_users_sales, len(full_days_horizon)),
                           'day': np.tile(full_days_horizon, len(all_users_sales))})
full_sales = full_sales.merge(df_sales, on=['user_id', 'day'], how='left').fillna(0.)
full_sales

      user_id  day  sales
0     1178709    0    0.0
1     1178709    1  967.0
2     1178709    2    0.0
3     1178709    3    0.0
4     1178709    4    0.0
...       ...  ...    ...
5595  9978718   51  889.0
5596  9978718   52    0.0
5597  9978718   53  905.0
5598  9978718   54    0.0
5599  9978718   55    0.0

[5600 rows x 3 columns]

# Cuped

In [15]:
df_sales_covariate = full_sales[full_sales['day'].isin(np.arange(42, 49))].reset_index(drop=True)
df_sales_pilot = full_sales[full_sales['day'].isin(np.arange(49, 56))].reset_index(drop=True)

In [16]:
df_sales_pilot.head(10)

   user_id  day   sales
0  1178709   49     0.0
1  1178709   50  1719.0
2  1178709   51     0.0
3  1178709   52     0.0
4  1178709   53  1701.0
5  1178709   54     0.0
6  1178709   55  1093.0
7  1279104   49     0.0
8  1279104   50  1189.0
9  1279104   51     0.0

In [17]:
df_sales_covariate.head(10)

   user_id  day   sales
0  1178709   42  1488.0
1  1178709   43   434.0
2  1178709   44     0.0
3  1178709   45  1069.0
4  1178709   46     0.0
5  1178709   47  1019.0
6  1178709   48     0.0
7  1279104   42     0.0
8  1279104   43   949.0
9  1279104   44     0.0

In [18]:
def calculate_theta(y, y_covariate) -> float:
    covariance = np.cov(y_covariate, y)[0, 1]
    variance = y_covariate.var()
    theta = covariance / variance
    return theta

theta = calculate_theta(df_sales_pilot.sales, df_sales_covariate.sales)
theta

0.06579005833857511

In [19]:
y_cuped = df_sales_pilot.sales - theta * df_sales_covariate.sales
# df_cuped = pd.DataFrame({'user_id': df_sales_pilot.user_id,
#                          'sales': y_cuped})
# df_cuped

df_sales_pilot.sales = y_cuped
df_sales_pilot

     user_id  day        sales
0    1178709   49   -97.895607
1    1178709   50  1690.447115
2    1178709   51     0.000000
3    1178709   52   -70.329572
4    1178709   53  1701.000000
..       ...  ...          ...
695  9978718   51   828.867887
696  9978718   52     0.000000
697  9978718   53   846.249478
698  9978718   54     0.000000
699  9978718   55   -60.987384

[700 rows x 3 columns]

In [20]:
y_cuped

0       -97.895607
1      1690.447115
2         0.000000
3       -70.329572
4      1701.000000
          ...
695     828.867887
696       0.000000
697     846.249478
698       0.000000
699     -60.987384
Name: sales, Length: 700, dtype: float64

# Stratification

In [21]:
# gender only
# binned age only
# binned age + gender
# different bin size

In [32]:
group_a_one = test['group_a_one']
group_a_two = test['group_a_two']

user_a = group_a_one + group_a_two
user_b = test['group_b']

In [36]:
# on historical data
weights = df_users.gender.value_counts(normalize=True)
weights

0    0.64
1    0.36
Name: gender, dtype: float64

In [41]:
users_sales_df = df_sales.merge(df_users, on='user_id', how='left')
users_sales_df

      user_id  day  sales  gender  age
0     1178709    1    967       0   29
1     1178709    5   2003       0   29
2     1178709    6    508       0   29
3     1178709    7    495       0   29
4     1178709   10   1560       0   29
...       ...  ...    ...     ...  ...
2788  9978718   46    893       0   30
2789  9978718   48    927       0   30
2790  9978718   49    451       0   30
2791  9978718   51    889       0   30
2792  9978718   53    905       0   30

[2793 rows x 5 columns]

In [43]:
sales_a = users_sales_df[users_sales_df['user_id'].isin(user_a)]#['sales'].values
sales_b = users_sales_df[users_sales_df['user_id'].isin(user_b)]#['sales'].values
sales_a

      user_id  day  sales  gender  age
97    1780374   22    459       0   27
98    1780374   41    446       0   27
237   2481878    1    209       0   26
238   2481878    2    185       0   26
239   2481878    4    385       0   26
...       ...  ...    ...     ...  ...
2760  9894745   45    619       0   26
2761  9894745   47   1078       0   26
2762  9894745   50   1259       0   26
2763  9894745   53   1694       0   26
2764  9894745   54    581       0   26

[596 rows x 5 columns]

In [44]:
sales_b

      user_id  day  sales  gender  age
136   1895060    4   1167       1   28
137   1895060    5    495       1   28
138   1895060    6    522       1   28
139   1895060    7    455       1   28
140   1895060    9    953       1   28
...       ...  ...    ...     ...  ...
2671  9661316   38    630       0   23
2672  9661316   45    583       0   23
2673  9661316   48    912       0   23
2674  9661316   50    634       0   23
2675  9661316   52    686       0   23

[644 rows x 5 columns]

In [51]:
(sales_b.groupby('gender')['sales'].mean() * weights).sum()

611.3150589387263

In [37]:
sales_b

array([0., 0., 0., ..., 0., 0., 0.])

In [54]:
def calc_strat_mean(df, strat_column, target_name, weights):
    strat_mean = df.groupby(strat_column)[target_name].mean()
    return (strat_mean * weights).sum()

calc_strat_mean(sales_b, 'gender', 'sales', weights)

611.3150589387263

In [63]:
not (1 < -2 < 7)

True

In [ ]:
def calc_strat_var(df: pd.DataFrame, strat_column: str, target_name: str, weights: dict):
    """Считаем стратифицированную дисперсию.

    df - датафрейм с целевой метрикой и данными для стратификации
    strat_column - названия столбца по которому проводить стратификацию
    target_name - название столбца с целевой переменной
    weights - словарь - {название страты: вес страты}
    
    return: float, var_strat
    """
    strat_var = df.groupby(strat_column)[target_name].var()
    return (strat_var * pd.Series(weights)).sum()

In [24]:
ttest_ind(sales_a, sales_b)

Ttest_indResult(statistic=-1.1574644391318956, pvalue=0.2472061758622636)

In [25]:
mu_a = sales_a.mean()
mu_b = sales_b.mean()

var_a = sales_a.var(ddof=1)
var_b = sales_b.var(ddof=1)

var_a_norm = var_a / len(sales_a)
var_b_norm = var_b / len(sales_b)

t_stat = (mu_b - mu_a) / np.sqrt(var_a_norm + var_b_norm)
t_stat

1.1574644391318956

In [31]:
(mu_b - mu_a) / np.sqrt(full_sales['sales'].var())

0.0474467825180526

In [26]:
dof_num = (var_a_norm + var_b_norm) ** 2
dof_den = var_a_norm ** 2 / (len(sales_a) - 1) + var_b_norm ** 2 / (len(sales_b) - 1)
dof = dof_num / dof_den
dof = len(sales_a) + len(sales_b) - 2
p = (1 - t.cdf(t_stat,df=dof)) * 2
p

0.24720617586226346

In [192]:
dof

2215.6556657516526

In [183]:
t.cdf(t_stat,df=dof)

0.9997847583800834

In [129]:
result = None
for strat_column in ['age', 'gender']:
    if result is None:
        result = df_users[strat_column].astype(str)
    else:
        result = result + '_' + df_users[strat_column].astype(str)
        
df_users['strat_key'] = result

weights = df_users.strat_key.value_counts(normalize=True).to_dict()
weights

{'22_0': 0.08,
 '26_0': 0.07,
 '25_0': 0.07,
 '22_1': 0.06,
 '27_0': 0.06,
 '23_0': 0.06,
 '29_0': 0.06,
 '26_1': 0.05,
 '28_0': 0.04,
 '28_1': 0.04,
 '24_1': 0.04,
 '34_0': 0.03,
 '30_0': 0.03,
 '29_1': 0.03,
 '21_0': 0.03,
 '25_1': 0.02,
 '35_1': 0.02,
 '33_1': 0.02,
 '27_1': 0.02,
 '30_1': 0.02,
 '32_0': 0.02,
 '31_0': 0.02,
 '21_1': 0.02,
 '36_1': 0.01,
 '20_0': 0.01,
 '33_0': 0.01,
 '38_0': 0.01,
 '47_0': 0.01,
 '18_0': 0.01,
 '35_0': 0.01,
 '23_1': 0.01,
 '24_0': 0.01}

In [131]:
bins = np.arange(0, 150, 5)
df_users['age_bin'] = pd.cut(df_users.age, bins, right=True, labels=bins[:-1])

array([  0,   5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,
        65,  70,  75,  80,  85,  90,  95, 100, 105, 110, 115, 120, 125,
       130, 135, 140, 145])

0     25
1     20
2     20
3     20
4     25
      ..
95    25
96    20
97    30
98    25
99    20
Name: age, Length: 100, dtype: category
Categories (29, int64): [0 < 5 < 10 < 15 ... 125 < 130 < 135 < 140]

In [140]:
df_users.age

0     26
1     21
2     23
3     22
4     28
      ..
95    27
96    24
97    31
98    30
99    22
Name: age, Length: 100, dtype: int64

In [124]:
result

0     26_0
1     21_1
2     23_0
3     22_0
4     28_0
      ...
95    27_0
96    24_1
97    31_0
98    30_0
99    22_1
Length: 100, dtype: object

In [126]:
df_users['age'] * 100 + df_users['gender']

0     2600
1     2101
2     2300
3     2200
4     2800
      ...
95    2700
96    2401
97    3100
98    3000
99    2201
Length: 100, dtype: int64