In [1]:
!pip install space_bandits

Processing c:\users\victor\appdata\local\pip\cache\wheels\90\51\0d\d77101b41ce95f155b94fe123cb2a60c3cc71b8ae3f86a02a1\space_bandits-0.0.992-py3-none-any.whl
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from space_bandits) (1.1.3)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from space_bandits) (1.4.1)
Requirement already satisfied: scikit-learn in c:\users\victor\appdata\roaming\python\python37\site-packages (from space_bandits) (0.23.2)
Requirement already satisfied: cython in c:\programdata\anaconda3\lib\site-packages (from space_bandits) (0.29.15)
Requirement already satisfied: numpy in c:\users\victor\appdata\roaming\python\python37\site-packages (from space_bandits) (1.19.3)
Collecting torch
  Using cached torch-1.7.1-cp37-cp37m-win_amd64.whl (184.1 MB)
Requirement already satisfied (use --upgrade to upgrade): torch from https://files.pythonhosted.org/packages/5d/9f/68a18d38927ccf56f30062344b2f1e439dc293610711958b249c0a1f7606/torch-1.7.1-cp37-cp37m-win_amd64.whl#sha256=d241c3f1c4d563e4ba86f84769c23e12606db167ee6f674eedff6d02901462e3 in c:\programdata\anaconda3\lib\site-packages (from space_bandits)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\victor\appdata\roaming\python\python37\site-packages (from pandas->space_bandits) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->space_bandits) (2019.3)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->space_bandits) (0.14.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->space_bandits) (2.1.0)
Requirement already satisfied: typing-extensions in c:\programdata\anaconda3\lib\site-packages (from torch->space_bandits) (3.7.4.3)
Requirement already satisfied: six>=1.5 in c:\users\victor\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.7.3->pandas->space_bandits) (1.15.0)
Installing collected packages: space-bandits
Successfully installed space-bandits-0.0.992

ERROR: space-bandits 0.0.992 requires torch, which is not installed.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Загрузим наши данные
transactions = pd.read_csv('transactions.csv')
action_reward = pd.read_csv('actions_reward_transaction_df.csv')
predictions_for_transactions = pd.read_csv('predictions_for_transactions.csv')

In [4]:

transactions.dates = pd.to_datetime(transactions.dates)
predictions_for_transactions.dates = pd.to_datetime(predictions_for_transactions.dates) 
action_reward.dates = pd.to_datetime(action_reward.dates)

In [5]:
action_reward

         tr_id      dates  action     reward
0      1003923 2019-01-01       2      0.000
1      1018719 2019-01-01       3  96246.080
2      1028713 2019-01-01       3  98328.150
3      1030155 2019-01-01       3  96290.195
4      1047479 2019-01-01       2      0.000
...        ...        ...     ...        ...
9995  99977644 2019-12-30       3  97569.675
9996  99979376 2019-12-30       3  98179.700
9997  99979915 2019-12-30       1  98274.760
9998  99981943 2019-12-30       1  96469.850
9999  99983581 2019-12-30       2      0.000

[10000 rows x 4 columns]

In [6]:
transactions

         tr_id  user_id      dates  sale_price
0      1018719    27185 2019-01-01   96246.080
1      1028713    42513 2019-01-01   98328.150
2      1030155    33953 2019-01-01   96290.195
3      1055428    28434 2019-01-01   97184.400
4      1058208    15628 2019-01-01   96948.420
...        ...      ...        ...         ...
6325  99949208    19090 2019-12-30   99624.545
6326  99977644    45377 2019-12-30   97569.675
6327  99979376    75419 2019-12-30   98179.700
6328  99979915    13167 2019-12-30   98274.760
6329  99981943    46652 2019-12-30   96469.850

[6330 rows x 4 columns]

In [7]:
predictions_for_transactions

         tr_id      dates    model_1    model_2    model_3
0      1003923 2019-01-01  98073.000  96380.000  96656.000
1      1018719 2019-01-01  95755.080  95924.080  96246.080
2      1028713 2019-01-01  96318.150  96729.150  98328.150
3      1030155 2019-01-01  96636.195  98557.195  96290.195
4      1047479 2019-01-01  96149.280  96850.280  96170.280
...        ...        ...        ...        ...        ...
9995  99977644 2019-12-30  98539.675  96468.675  97569.675
9996  99979376 2019-12-30  97875.700  97139.700  98179.700
9997  99979915 2019-12-30  98274.760  98599.760  97072.760
9998  99981943 2019-12-30  96469.850  98086.850  99745.850
9999  99983581 2019-12-30  97481.905  97080.905  98504.905

[10000 rows x 5 columns]

In [8]:
# Построим 1-ую модель
from space_bandits import LinearBandits

num_actions = 3 # three actions
num_features = 2 # two features

model = LinearBandits(num_actions, num_features)

In [9]:
action_reward['dates_int'] = action_reward.dates.astype(int)

TypeError: cannot astype a datetimelike from [datetime64[ns]] to [int32]

In [ ]:
# Обучение модели происходит через функцию update()
for index, row in action_reward.iterrows():
    context = row[['dates_int', 'tr_id']]
    action = row['action'] - 1
    reward = row['reward']
    model.update(context, action,reward)

In [ ]:
# Чтобы получить рекомендацию по выбору какой именно action, надо выбрать в зависимости от контекста используйте action()
# pred_context = action_reward.iloc[-2][['dates_int', 'tr_id']].values
# model.action(pred_context)

In [ ]:
# Сохраните модель
model.save('model_1.pkl')

In [ ]:
# Постройте 2-у модель
# Добавим в контекст данные о времени, year/week и данные о user и данные о возможных вариантах
full_action_reward = action_reward.merge(predictions_for_transactions, how='left', on=['tr_id', 'dates'])
full_action_reward = full_action_reward.merge(transactions, how='left', on=['tr_id', 'dates'])

In [ ]:
# Заполним пропуски
full_action_reward.user_id = full_action_reward.user_id.fillna(-1)
full_action_reward.sale_price = full_action_reward.sale_price.fillna(0)

In [ ]:
# Добавим year, week
full_action_reward['week'] = full_action_reward.dates.dt.week
full_action_reward['year'] = full_action_reward.dates.dt.year

In [ ]:
# Добавим информацию о последний покупки для user'а
full_action_reward['previous purchase'] = full_action_reward.sort_values('dates').groupby('user_id').sale_price.shift(1)
full_action_reward['previous purchase'] = full_action_reward['previous purchase'].fillna(0)

In [ ]:
# Проверим что мы действительно добавили информацию о последней покупке
full_action_reward[full_action_reward.user_id == 46652]

In [ ]:
full_action_reward

In [ ]:
full_action_reward.columns

In [ ]:
context_columns = ['tr_id','dates_int', 'model_1', 'model_2',
       'model_3', 'user_id', 'sale_price', 'week', 'year',
       'previous purchase']

In [ ]:
# Создадим еще одну модель 
num_actions = 3 # three actions
num_features = 10 # ten features


model_2 = LinearBandits(num_actions, num_features)

In [ ]:
# Обучим еще одну модель
for index, row in full_action_reward.iterrows():
    context = row[context_columns]
    action = row['action'] - 1
    reward = row['reward']
    model_2.update(context, action,reward)

In [ ]:
# pred_context = full_action_reward.iloc[-2][context_columns].values
# model_2.action(pred_context)

In [ ]:
# Сохраните модель
model_2.save('model_2.pkl')