In [47]:
import numpy as np
import pandas as pd


def calculate_sales_metrics(df, cost_name, date_name, sale_id_name, period, filters=None):
    """Вычисляет метрики по продажам.
    
    df - pd.DataFrame, датафрейм с данными. Пример
        pd.DataFrame(
            [[820, '2021-04-03', 1, 213]],
            columns=['cost', 'date', 'sale_id', 'shop_id']
        )
    cost_name - str, название столбца с стоимостью товара
    date_name - str, название столбца с датой покупки
    sale_id_name - str, название столбца с идентификатором покупки (в одной покупке может быть несколько товаров)
    period - dict, словарь с датами начала и конца периода пилота.
        Пример, {'begin': '2020-01-01', 'end': '2020-01-08'}.
        Дата начала периода входит в полуинтервал, а дата окончания нет,
        то есть '2020-01-01' <= date < '2020-01-08'.
    filters - dict, словарь с фильтрами. Ключ - название поля, по которому фильтруем, значение - список значений,
        которые нужно оставить. Например, {'user_id': [111, 123, 943]}.
        Если None, то фильтровать не нужно.

    return - pd.DataFrame, в индексах все даты из указанного периода отсортированные по возрастанию, 
        столбцы - метрики ['revenue', 'number_purchases', 'average_check', 'average_number_items'].
        Формат данных столбцов - float, формат данных индекса - datetime64[ns].
    """
    # YOUR_CODE_HERE
    if filters is not None:
        for col_to_filter in filters:
            df = df.query(f"{col_to_filter} in {filters[col_to_filter]}")
    
    full_date_range = pd.date_range(start=period['begin'], end=period['end'], freq='D', closed='left')
    full_date_range_df = pd.DataFrame({date_name: full_date_range})
    
    df[date_name] = pd.to_datetime(df[date_name])
    df = full_date_range_df.merge(df, on=date_name, how='left')
    
    ans_df = df.groupby(date_name).agg(revenue=(cost_name, 'sum')
                                    ,number_purchases=(sale_id_name, 'nunique')
                                    ,number_items=(sale_id_name, 'count')
                                   )
    ans_df[['revenue', 'number_purchases','number_items']] = ans_df[['revenue', 'number_purchases','number_items']].astype(float)
    ans_df['average_check'] = 0.
    ans_df['average_number_items'] = 0.
    
    non_zero_purchases = ans_df.number_purchases > 0
    ans_df.loc[non_zero_purchases, 'average_check'] = \
        ans_df.loc[non_zero_purchases, 'revenue'] / ans_df.loc[non_zero_purchases, 'number_purchases']
    ans_df.loc[non_zero_purchases, 'average_number_items'] = \
        ans_df.loc[non_zero_purchases, 'number_items'] / ans_df.loc[non_zero_purchases, 'number_purchases']
    
    return ans_df[['revenue', 'number_purchases', 'average_check', 'average_number_items']]

In [28]:
size = 20
dates = pd.date_range(start='2020-01-07', end='2020-01-10', freq='D')
dates

DatetimeIndex(['2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10'], dtype='datetime64[ns]', freq='D')

In [29]:
dates = pd.Series(dates, name='date').sample(size, replace=True).reset_index(drop=True)

In [30]:
costs = np.random.uniform(10,20,size).round(2)

In [31]:
sale_ids = np.random.randint(100,110,size)
np.unique(sale_ids).shape

(8,)

In [32]:
user_ids = np.random.randint(1,4,size)

In [38]:
df = pd.DataFrame({'date': dates.values, 'cost': costs, 'sale_id': sale_ids, 'user_id': user_ids})
df

         date   cost  sale_id  user_id
0  2020-01-08  11.05      104        1
1  2020-01-07  14.60      102        2
2  2020-01-10  14.29      109        3
3  2020-01-07  18.82      104        3
4  2020-01-07  18.04      109        2
5  2020-01-08  10.29      103        3
6  2020-01-10  12.91      107        3
7  2020-01-09  17.99      108        2
8  2020-01-07  18.00      103        1
9  2020-01-09  14.98      109        3
10 2020-01-07  11.45      101        1
11 2020-01-08  10.29      109        1
12 2020-01-07  14.24      109        3
13 2020-01-08  14.23      102        3
14 2020-01-10  11.07      106        3
15 2020-01-07  12.70      109        2
16 2020-01-08  13.65      104        3
17 2020-01-09  15.53      101        3
18 2020-01-09  15.86      102        2
19 2020-01-07  10.40      101        2

In [39]:
df.dtypes

date       datetime64[ns]
cost              float64
sale_id             int32
user_id             int32
dtype: object

In [34]:
df.query("user_id in [1,3]")

         date   cost  sale_id  user_id
0  2020-01-08  11.05      104        1
2  2020-01-10  14.29      109        3
3  2020-01-07  18.82      104        3
5  2020-01-08  10.29      103        3
6  2020-01-10  12.91      107        3
8  2020-01-07  18.00      103        1
9  2020-01-09  14.98      109        3
10 2020-01-07  11.45      101        1
11 2020-01-08  10.29      109        1
12 2020-01-07  14.24      109        3
13 2020-01-08  14.23      102        3
14 2020-01-10  11.07      106        3
16 2020-01-08  13.65      104        3
17 2020-01-09  15.53      101        3

In [35]:
102, 103, 108, 104

(102, 103, 108, 104)

In [36]:
period = {'begin': '2020-01-08', 'end': '2020-01-15'}
filters = {'user_id': [1,3]}

In [48]:
calculate_sales_metrics(df, 'cost', 'date', 'sale_id', period, filters=filters)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            revenue  number_purchases  average_check  average_number_items
date
2020-01-08    59.51               4.0      14.877500                  1.25
2020-01-09    30.51               2.0      15.255000                  1.00
2020-01-10    38.27               3.0      12.756667                  1.00
2020-01-11     0.00               0.0       0.000000                  0.00
2020-01-12     0.00               0.0       0.000000                  0.00
2020-01-13     0.00               0.0       0.000000                  0.00
2020-01-14     0.00               0.0       0.000000                  0.00

In [11]:
if filters is not None:
    for col_to_filter in filters:
        df = df.query(f"{col_to_filter} in {filters[col_to_filter]}")

In [12]:
df

         date   cost  sale_id  user_id
1  2020-01-10  13.03      102        1
4  2020-01-09  18.22      107        3
5  2020-01-10  15.62      103        3
6  2020-01-07  17.60      105        1
7  2020-01-09  18.60      109        3
8  2020-01-10  10.83      108        1
9  2020-01-10  12.56      104        1
10 2020-01-07  14.76      100        3
11 2020-01-08  12.07      103        1
12 2020-01-09  13.24      100        1
13 2020-01-08  15.43      107        1
14 2020-01-07  17.96      105        1
15 2020-01-07  18.65      107        1
16 2020-01-08  10.05      105        1
18 2020-01-08  11.00      100        3
19 2020-01-07  15.03      104        3

In [13]:
full_date_range = pd.date_range(start=period['begin'], end=period['end'], freq='D', closed='left')
full_date_range

DatetimeIndex(['2020-01-08', '2020-01-09', '2020-01-10', '2020-01-11',
               '2020-01-12', '2020-01-13', '2020-01-14'],
              dtype='datetime64[ns]', freq='D')

In [14]:
full_date_range_df = pd.DataFrame({'date': full_date_range})
full_date_range_df

        date
0 2020-01-08
1 2020-01-09
2 2020-01-10
3 2020-01-11
4 2020-01-12
5 2020-01-13
6 2020-01-14

In [15]:
df_combined = full_date_range_df.merge(df, on='date', how='left')
df_combined

         date   cost  sale_id  user_id
0  2020-01-08  12.07    103.0      1.0
1  2020-01-08  15.43    107.0      1.0
2  2020-01-08  10.05    105.0      1.0
3  2020-01-08  11.00    100.0      3.0
4  2020-01-09  18.22    107.0      3.0
5  2020-01-09  18.60    109.0      3.0
6  2020-01-09  13.24    100.0      1.0
7  2020-01-10  13.03    102.0      1.0
8  2020-01-10  15.62    103.0      3.0
9  2020-01-10  10.83    108.0      1.0
10 2020-01-10  12.56    104.0      1.0
11 2020-01-11    NaN      NaN      NaN
12 2020-01-12    NaN      NaN      NaN
13 2020-01-13    NaN      NaN      NaN
14 2020-01-14    NaN      NaN      NaN

In [16]:
# revenue
# number_purchases - count(sale_ids)
#

In [17]:
ans_df = df_combined.groupby('date').agg(revenue=('cost', 'sum')
                                ,number_purchases=('sale_id', 'nunique')
                                ,number_items=('sale_id', 'count')
                               )
ans_df

            revenue  number_purchases  number_items
date
2020-01-08    48.55                 4             4
2020-01-09    50.06                 3             3
2020-01-10    52.04                 4             4
2020-01-11     0.00                 0             0
2020-01-12     0.00                 0             0
2020-01-13     0.00                 0             0
2020-01-14     0.00                 0             0

In [18]:
ans_df[['revenue', 'number_purchases','number_items']] = ans_df[['revenue', 'number_purchases','number_items']].astype(float)

In [19]:
ans_df['average_check'] = 0
ans_df['average_number_items'] = 0

In [20]:
non_zero_purchases = ans_df.number_purchases > 0
ans_df.loc[non_zero_purchases, 'average_check'] = \
        ans_df.loc[non_zero_purchases, 'revenue'] / ans_df.loc[non_zero_purchases, 'number_purchases']

In [21]:
non_zero_purchases = ans_df.number_purchases > 0
ans_df.loc[non_zero_purchases, 'average_number_items'] = \
        ans_df.loc[non_zero_purchases, 'number_items'] / ans_df.loc[non_zero_purchases, 'number_purchases']

In [22]:
ans_df[['revenue', 'number_purchases', 'average_check', 'average_number_items']]

            revenue  number_purchases  average_check  average_number_items
date
2020-01-08    48.55               4.0      12.137500                   1.0
2020-01-09    50.06               3.0      16.686667                   1.0
2020-01-10    52.04               4.0      13.010000                   1.0
2020-01-11     0.00               0.0       0.000000                   0.0
2020-01-12     0.00               0.0       0.000000                   0.0
2020-01-13     0.00               0.0       0.000000                   0.0
2020-01-14     0.00               0.0       0.000000                   0.0

In [23]:
df_combined.groupby(['date', 'sale_id']).agg(average_number_items=('cost', 'count'))

                    average_number_items
date       sale_id
2020-01-08 100.0                       1
           103.0                       1
           105.0                       1
           107.0                       1
2020-01-09 100.0                       1
           107.0                       1
           109.0                       1
2020-01-10 102.0                       1
           103.0                       1
           104.0                       1
           108.0                       1